---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

interface Props {
	title: string;
	description: string;
	image?: string;
	type?: string;
	publishedDate?: Date;
	modifiedDate?: Date;
}

const { title, description, image, type, publishedDate, modifiedDate } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<BaseHead title={title} description={description} image={image} type={type} publishedDate={publishedDate} modifiedDate={modifiedDate} />
	</head>
	<body class="flex min-h-screen flex-col">
		<Header />
		<main class="flex-1">
			<slot />
		</main>
		<Footer />
	</body>
</html>
